header {
    border-bottom: 1px #d8d8d8 solid;
}
footer i {
    color: #8d8d8d;
}
.menu {
    border-bottom: 1px solid #d8d8d8;
}
.menu a {
    font-family: Montserrat;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.1px;
    color: #000000;
}
.arrow {
    margin-top: 70px;
    margin-bottom: 40px;
}
span {
    font-size: 40px;
}
.img-small img {
    margin-bottom: 30px;
}

.info h3{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.7px;
    color: #000000;
}
.info h3:first-child {
    margin-bottom: 15px;
}
.cost {
    margin-top: 40px;
    margin-bottom: 40px;
}
.color {
    margin-bottom: 30px;
    padding-left: 10px;
}
.info h4 {
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #000000;
}
.btn-add {
    width: 70%;
    font-family: Lato;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.7px;
    color: #ffffff;
    background-color: #000000;
    border: none;
    margin-top: 60px;
    height: 45px;
}
.size button:first-child {
    background-color: black;
    color: white;
    border: none;
    width: 30px;
}
.size button:not(:first-child) {
    width: 30px;
    background-color: white;
    color: black;
    border: 1px solid black;
    margin-left: 10px;
}
.size {
    padding-left: 20px;
    margin-bottom: 30px;
}
.match h3 {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.7px;
    color: #000000;
    margin-top: 160px;
    margin-bottom: 50px;
}
.match h5 {
    opacity: 0.5;
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #000000;
    margin-top: 15px;
}
.match img {
    margin-right: 80px;
}
.mt-one {
    margin-right: 80px;
}
.detail-product .info {
    padding-left: 40px;
}
footer {
    background: #000000;
    padding-top: 65px;
    margin-top: 70px;
  
    padding-bottom: 80px;
  }
  footer h3{
    font-family: Futura;
    font-size: 19px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.6px;
    color: #ffffff;
  }
  footer h6 {
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #ffffff;
  }
  footer h5 {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.5;
    letter-spacing: normal;
    color: #ffffff;
  }
  footer i {
    color: #ffffff;
    margin-left: 6%;
  }
  .social {
  text-align: right;
  }
  .policy h6{
    text-align: right;
    margin-top: 27px;
  }
  .line {
    height: 1px;
    background:#e5e5e5;
    margin-top: 35px;
  }