.container-header {
	background-image: url("../images/bg1.png");
	background-size: 100% 100%;
    background-position: top;
    color: white;
    padding-top: 1.5rem;
    padding-bottom: 7rem;
}
.logo-text {
  font-family: Futura;
  font-size: 27px;
}
.detail-header {
	margin-top: 22rem;
}
.detail-header h3 {
  font-family: Futura;
  font-size: 54px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.63;
  letter-spacing: normal;
  color: #ffffff;
}
.detail-header h4 {
  margin-top: 30px;
  font-family: Montserrat;
  width: 254px;
  height: 24px;
  opacity: 0.7;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;

}
.detail-header button {
  margin-top: 30px;
  width: 174px;
  height: 50px;
  background-color: #ffffff;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  border: none;
}
.introduce {
	padding-top: 100px;
}
.introduce img {
	width: 100%;
	height: 100%;
}
.introduce-left {
	position: relative;
}
.introduce-left h3 {
	position: absolute;
	bottom: 15px;
	left: 55px;
	color: white;
	font-family: Montserrat;
    font-size: 36px;
}
.introduce-right {
	position: relative;
}
.introduce-right-1 h3 {
	position: relative;
	bottom: 95px;
	left: 25px;
	color: white;
}
.introduce-right-2 {
  background: #d0dfda;
  margin-top: -50px;
  height: 44%;
  padding-top: 23%;
}
.introduce-right-2 h4 {
  font-family: Futura;
  font-size: 26px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  color: #000000;
  padding-left: 10%;
}
.introduce-right-2 h5 {
  font-family: Montserrat;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  padding-left: 10%;
  padding-top: 3%;
  color: #4a4a4a;
}
.promotion {
	padding-top: 5rem;
	padding-bottom: 5rem;
	margin-top: 5rem;
	background: #c2bbad;
	color: white;
}

.promotion-left h5{
font-family: Montserrat;
margin-bottom: 2rem;
  font-size: 12px;
}
.promotion-left h2{
	  font-family: Futura;
  font-size: 36px;
}
.promotion-right h5{
	margin-bottom: 2rem;
	  font-family: Lato;
  font-size: 14px;
}
.promotion button {
	  width: 373px;
  height: 50px;
  background-color: #ffffff;
    font-family: Montserrat;
  font-size: 12px;
    text-align: center;
  color: #998e76;
  border: none;
}
.padding-type{
  padding-right: 3px;
}
.type-product {
	margin-top: 5rem;
}
.type-one {
	background-image: url("../images/home/type-one.png") ;
	background-repeat: no-repeat;
	background-size: 100% 100%;
  height: 300px;
}

.type-product center {
  padding-top: 8%;
}

.type-two {
	background-image: url("../images/home/type-two.png") ;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 300px;
}
.type-three {
	background-image: url("../images/home/type-three.png") ;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 300px;
}
.type-four {
	background-image: url("../images/home/type-four.png") ;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 300px;
}
.nav-item {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: 1.1px;
  text-align: center;
  color: #000000;
}
.type-product p {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: 1.1px;
  text-align: center;
  color: #000000;
}
.best-seller {
	margin-top: 5rem;
}
.best-seller h2 {
  font-family: Montserrat;
  font-size: 44px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin-bottom: 50px;
}
.hot-trend {
  margin-top: 60px;
  height: 500px;
  background-image: linear-gradient(top, #efefef, #efefef 75%, transparent 75%, transparent 100%);
  background-image: -webkit-linear-gradient(bottom, #efefef, #efefef 75%, transparent 75%, transparent 100%);
  padding-left: 205px;

}
.hot-trend-right {

}

.hot-trend-left {
  margin-top: 175px;
  justify-content: center;
  padding-right: 50rem;
}
.hot-trend-left p {
  font-family: Montserrat;
  font-size: 50px;
}

.margin-left {
  margin-left: 73px;
}
.hot-trend-left button {
  width: 222px;
  height: 72px;
  background-color: #ffffff;
  font-family: Montserrat;
  margin-left: 25px;
  font-size: 12px;
  border: black solid 1px;
}
.events center{
  font-family: Futura;
  font-size: 44px;
  margin-top: 93px;
  margin-bottom: 45px;
}
.event-container div {
  /* border: 1px solid #e5e5e5; */
  padding-top: 26px;
  padding-left: 26px;
  padding-bottom: 23px;
}
.border-event {
  border: 1px solid #e5e5e5;

}
.event-container div h6 {
  font-family: Montserrat;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.91;
  letter-spacing: 0.9px;
  color: #8d8d8d;

}
.event-container div h2 {
  font-family: Futura;
  font-size: 50px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.event-container div h4 {
  font-family: Lato;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.event-container div p {
  font-family: Montserrat;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.91;
  letter-spacing: 1px;
  color: #b8b8b8;
}
.line {
  height: 1px;
  background:#e5e5e5;
  margin-top: 35px;
}
footer {
  background: #000000;
  padding-top: 65px;
  margin-top: 70px;

  padding-bottom: 80px;
}
footer h3{
  font-family: Futura;
  font-size: 19px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.6px;
  color: #ffffff;
}
footer h6 {
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #ffffff;
}
footer h5 {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  letter-spacing: normal;
  color: #ffffff;
}
footer i {
  color: #ffffff;
  margin-left: 6%;
}
.social {
text-align: right;
}
.policy h6{
  text-align: right;
  margin-top: 27px;
}